@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
/*rgb(240, 180, 41) yellow left border*/
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 225px 1fr;
}

.sidebar {
  grid-area: 1/1/3/2;
  background-color: rgb(25, 146, 212);
  color: white;
  padding: 15px;
  font-weight: bold;

  display: grid;
  grid-template-rows: 1fr 3.5fr 7fr;
  align-items: start;
}

li , .sidebar > div {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 15px;
  font-size: 1em;
}

li i, .sidebar > div i {
  margin: 0 10px 0 0;
}

.sidebar > div {
  margin: 0px 10px 10px 0px;
  font-size: 1.5rem;
}

.sidebar > div i { 
  font-size: 3rem;
}

.header {
  grid-area: 1/2/2/3;
  color: black;

  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 15px 40px 15px 25px;
}

.header-top .search {
  justify-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top input {
  background-color: rgb(226, 232, 240);
  border: 0;
  border-radius: 20px;
  width: 35vw;
  padding: 5px 10px;
  margin: 0 10px;
  font-size: 1rem;
}

.header-top .profile {
  display: flex;
  justify-self: end;
  align-items: center;
  justify-content: end;
  font-size: 1rem;
  font-weight: bold;
}

.header-top .profile img {
  width: 40px;
  border-radius: 40px;
  margin: 0 25px;
}

.header-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: -15px 0 0 0;
}

.header-bottom .profile img {
  width: 60px;
  border-radius: 60px;
  margin: 0 30px;
}

.header-bottom .profile {
  font-weight: bold;
  font-size: 0.75rem;

  display: flex;
  align-items: center;
}

.profile span {
  font-size: 1.25rem;
}

.buttons {
  justify-self: end;

  display: flex;
  margin: 0 20px 0 0;
}

.buttons button {
  background-color: rgb(25, 146, 212);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: 0;
  border-radius: 30px;
  padding: 10px 30px;
  margin: 0 10px;
}

.main {
  grid-area: 2/2/3/3;
  background-color: rgb(226, 232, 240);
  color: black;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 300px;
  gap: 15px;
  padding: 15px;
}

.projects-title, .announce-title, .trend-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.projects {
  grid-area: 1/1/3/2;
}

.projects .cards {
  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  overflow-y: auto;
}

.projects .card .body {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; 
}

.projects .card .icons {
  align-self: end;
  justify-self: end;
}

.icons i {
  margin: 0 5px;
}

.projects .card {
  display: flex;
  flex-direction: column;
  border-left: 10px solid rgb(240, 180, 41);
  border-radius: 10px;
  background-color: white;
}

.announce .cards, .trend .cards {
  border-radius: 10px;
  background-color: white;
}

.card {
  padding: 20px;
}

.card img {
  width: 40px;
  border-radius: 40px;
}

.card .title {
  font-weight: bold;
  margin: 0 0 5px 0;
}

hr {
  width: 75%;
  align-self: center;
}

.announce {
  grid-area: 1/2/2/3;
}

.announce .cards {
  display: flex;
  flex-direction: column;
}

.trend {
  grid-area: 2/2/3/3; 
}

.trend .cards {
  display: flex;
  flex-direction: column;
}