@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
/*rgb(240, 180, 41) yellow left border*/
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 275px 1fr;
}

.sidebar {
  grid-area: 1/1/3/2;
  background-color: rgb(25, 146, 212);
  color: white;
  padding: 15px;
  font-weight: bold;

  display: grid;
  grid-template-rows: 1fr 3.5fr 7fr;
  align-items: start;
}

li , .sidebar > div {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 15px;
  font-size: 1em;
}

li i, .sidebar > div i {
  margin: 0 10px 0 0;
}

.sidebar > div {
  margin: 0px 10px 10px 0px;
  font-size: 1.5rem;
}

.sidebar > div i {
  font-size: 3rem;
}

.header {
  grid-area: 1/2/2/3;
  color: black;

  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 15px 40px 15px 25px;
}

.header-top .search {
  justify-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top input {
  background-color: rgb(226, 232, 240);
  border: 0;
  border-radius: 20px;
  width: 35vw;
  padding: 5px 10px;
  margin: 0 10px;
  font-size: 1rem;
}

.header-top .profile {
  display: flex;
  justify-self: end;
  align-items: center;
  justify-content: end;
  font-size: 1rem;
  font-weight: bold;
}

.header-top .profile img {
  width: 40px;
  border-radius: 40px;
  margin: 0 25px;
}

.header-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.header-bottom .profile img {
  width: 60px;
  border-radius: 60px;
}

.header-bottom .profile {
  font-weight: bold;
  font-size: 0.75rem;

  display: flex;
}

.profile span {
  font-size: 1.25rem;
}

.main {
  grid-area: 2/2/3/3;
  background-color: rgb(226, 232, 240);
  color: black;
}